body{
    background-image: url(../img/head_Bread.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    width: 215vh;
    height: 60vh;

}

header button{
    width: 10vh;
    height: 10vh;
    opacity: 50%;
    border: none;
    background-color: none;
    border-radius: 10px;
}

header h1{
    color: black;
}

section .hero{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 215vh;
    height: 500vh;

    margin-right: 10px;
}

section .hero .meme{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    width: 215vh;
    height: 80vh;
    background-color: black;
    margin-right: 10px;
}

section .box{
    width: 600px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    
}

#box1{
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box h1{
    align-items: center;
    font-size: 50px;
}

.box h2{
    color: black;
}

.box button{
    width: 25vh;
    height: 10vh;
    border-color: black;

}
#button1{
    background-color: aliceblue;
    margin-right: 5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#button2{
    background-color: black;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}




